@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* NAVBAR SECTION---  */

.pageLogo {
  cursor: pointer;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  text-decoration: none;
  color: #424242;
}

.link-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 29px 95px;
}

.navlinks {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  gap: 50px;
}

.navlinks > span {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.navlinks > span:hover {
  font-size: 24px;
}

.signIn-dropdown-parent {
  display: flex;
  align-items: center;
  gap: 10px;
}

.signIn-dropdown-parent > button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  border-radius: 72px;
  border: 1px soild #333333;
  padding: 5px 15px;
  background-color: transparent;
}

.hamburger-menu {
  cursor: pointer;
  display: none;
  padding-top: 6px;
}

.navlist-dropdownMenu {
  /* background: linear-gradient(860deg, #ffffff 5%, #ececec 95%); */
  /* background: linear-gradient(460deg, #ffffff 15%, #ececec 80%); */
  background-color: #ececec;
  color: #333333;
  padding: 1.5rem 1rem;
  position: fixed;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 40%;
  height: 100%;
  top: 99px;
  right: 0;
  animation: slideInFromTop 0.5s ease-in-out forwards;
  overflow-y: auto;
  z-index: 9999;
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutToTop {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.navlist-dropdownMenu.closing {
  animation: slideOutToTop 0.5s ease-in-out forwards;
}

.navlist-dropdownMenu.closing {
  transition: max-height 0.5s ease-out;
}

.navlist-dropdown-items {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}

.navlist-dropdown-items > span {
  cursor: pointer;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}

.navlist-dropdown-items > span:hover {
  font-size: 20px;
}

/* HERO SECTION---  */

.hero-container {
  position: relative;
  width: 100%;
}

.hero-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

.hero-container span {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000000;
  margin-top: 35px;
}

.hero-container span h2 {
  width: 1024px;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
}

.hero-container span h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24.38px;
  margin-bottom: 20px;
}

.hero-container span button {
  cursor: pointer;
  background-color: #465138;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.38px;
  border: none;
  border-radius: 9px;
  padding: 10px;
  width: fit-content;
}

/* EXPLORE SECTION--- */

.explore-mainContainer {
  font-family: "Montserrat", sans-serif;
  padding: 3rem 95px;
}

.explore-mainContainer h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  margin-bottom: 15px;
}

.explore-mainContainer h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #2d2d2d;
}

.explore-image-container {
  margin-top: 3rem;
  display: flex;
  gap: 20px;
}

.explore-image-container span {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.explore-image-container span p {
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #2d2d2d;
}

.explore-image-container span img {
  width: 100%;
  height: 100%;
}

/* DISCOVER SECTION--- */

.discover-container {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(360deg, #ffffff 25%, #ececec 70%);
  padding: 4rem 95px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.discover-container > h4 {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
}

.discover-container span {
  display: flex;
  justify-content: space-between;
}

.discover-container span button {
  cursor: pointer;
  background-color: #465138;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  border: none;
  border-radius: 9px;
  padding: 10px;
}

.discover-container span h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
}

.labels-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.product-card {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.product-card img {
  height: auto;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  padding: 15px;
  background: rgba(246, 246, 246, 0.66);
  position: absolute;
  bottom: 0;
}

.product-title {
  color: #000000;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
}

.prod-desc-price-flex {
  display: flex;
  gap: 20px;
}

.product-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 8px 0;
  color: rgba(43, 43, 43, 1);
}

.product-price {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  line-height: 33px;
}

/* DESIGN DREAMS SECTION---*/

.designDream-maincontainer {
  font-family: "Montserrat", sans-serif;
  display: flex;
  gap: 20px;
  width: 100%;
  padding: 4rem 95px;
}

.designDream-info-parent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
  padding: 5rem 0 0 0;
}

.designDream-info-parent > h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 50px;
}

.designDream-info-parent > p {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.designDream-info-parent > button {
  cursor: pointer;
  background-color: #465138;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.38px;
  border: none;
  border-radius: 9px;
  padding: 10px;
  width: fit-content;
}

.design-b2-container {
  display: flex;
  gap: 10px;
  position: relative;
  overflow: hidden;
  width: 50%;
}

.design-image-container {
  max-height: auto;
  height: 100%;
  width: 100%;
}

.design-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.design-info {
  position: absolute;
  padding: 15px;
  background: rgba(246, 246, 246, 0.66);
  bottom: 0;
}

/* SHARE SETUP SECTION--  */

.sharesetup-container {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  padding: 4rem 95px;
}

.sharesetup-container span {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}

.sharesetup-container span p {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #616161;
}

.sharesetup-container span h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #3a3a3a;
}

.setup-image-container {
  display: flex;
  flex-direction: column;
}

.setup-image {
  height: 100%;
}

.setup-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.setup-image-flex {
  display: flex;
  gap: 15px;
  width: 100%;
}
.setup-image-flex span {
  width: 50%;
}

.setup-image-flex img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SUBSCRIPTION SECTION -- */

.subscription-container {
  font-family: "Montserrat", sans-serif;
  padding: 4rem 95px;
  color: #ffffff;
}

.subscription-container div {
  background-color: #465138;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding: 4rem 7rem;
  border-radius: 32px;
}

.subscription-container div h3 {
  font-weight: 600;
  font-size: 40px;
  line-height: 30px;
}

.subscription-container div p {
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
}

.sub-btn-parent {
  display: flex;
  gap: 15px;
}

.sub-btn-parent input {
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
  background-color: transparent;
  width: 400px;
}

.sub-btn-parent input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.sub-btn-parent button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #465138;
}

/* FOOTER SECTION -- */

.footer-container {
  font-family: "Poppins", sans-serif;
  padding: 4rem 95px;
  margin-bottom: 20px;
  display: flex;
  gap: 40px;
  border-top: 2px solid #e6e4e4;
  border-bottom: 2px solid #e6e4e4;
}

.footer-container div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-container div span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #9f9f9f;
  margin-bottom: 20px;
}

.footer-container div p {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

#footer-logo {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

#footer-addy {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 200px;
}

/* MEDIA QUERIES--- */

@media screen and (max-width: 1045px) {
  .hamburger-menu {
    display: block;
  }
  .navlinks {
    display: none;
  }
  .hero-container span {
    top: 30%;
  }
  .hero-container span h2 {
    width: 750px;
    font-size: 40px;
    line-height: 50.52px;
    margin-bottom: 10px;
  }
  .explore-mainContainer h2 {
    font-size: 35px;
    line-height: 40px;
  }

  .explore-mainContainer h4 {
    font-size: 18px;
    line-height: 20px;
  }
  .discover-container span h2 {
    font-size: 35px;
  }
  .designDream-maincontainer {
    padding-top: 2rem;
    flex-direction: column;
    gap: 40px;
  }
  .designDream-info-parent {
    width: 100%;
    padding-top: 0;
  }
  .design-b2-container {
    gap: 10px;
    width: 100%;
  }
  .designDream-info-parent > h2 {
    font-size: 35px;
    line-height: 30px;
  }
  .subscription-container div h3 {
    font-size: 32px;
  }
  .product-info {
    padding: 10px;
  }
  .product-title {
    font-size: 20px;
  }
  .product-price {
    font-size: 18px;
    line-height: 25px;
  }
}

@media screen and (max-width: 900px) {
  .link-section {
    padding: 29px 40px;
  }
  .explore-mainContainer {
    padding: 3rem 40px;
  }

  .hero-container span {
    top: 27%;
  }
  .hero-container span h2 {
    width: 550px;
  }
  .hero-container span button {
    font-size: 18px;
  }
  .explore-mainContainer h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .explore-image-container span p {
    font-size: 25px;
    line-height: 35px;
  }
  .discover-container {
    padding: 4rem 40px;
  }
  .discover-container span h2 {
    font-size: 30px;
  }
  .labels-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .designDream-maincontainer {
    padding: 2rem 40px 4rem 40px;
  }
  .designDream-info-parent > h2 {
    font-size: 30px;
  }
  .sharesetup-container {
    padding: 4rem 40px;
  }
  .subscription-container {
    padding: 4rem 40px;
  }
  .subscription-container div h3 {
    font-size: 30px;
  }
  .subscription-container div {
    padding: 4rem 4rem;
  }
  .sub-btn-parent input {
    width: 300px;
  }
  .footer-container {
    padding: 4rem 40px;
  }
  #footer-addy {
    width: 150px;
  }
  .product-title {
    font-size: 18px;
  }
  .product-description {
    font-weight: 500;
    line-height: 15px;
    margin: 4px 0;
  }
}

@media screen and (max-width: 700px) {
  .hero-container span {
    top: 30%;
  }
  .hero-container span h2 {
    width: 450px;
    line-height: 50.52px;
    margin-bottom: 5px;
  }

  .hero-container span h4 {
    margin-bottom: 10px;
  }
  .hero-container span button {
    font-size: 16px;
    padding: 8px;
  }
  .explore-mainContainer h4 {
    font-size: 16px;
    line-height: 20px;
  }

  .explore-image-container {
    flex-direction: column;
  }
  .explore-image-container span p {
    font-size: 20px;
  }

  .discover-container span button {
    font-size: 15px;
  }
  .discover-container span h2 {
    font-size: 25px;
  }
  .designDream-info-parent > h2 {
    font-size: 25px;
    line-height: 20px;
  }
  .sub-btn-parent {
    gap: 10px;
  }
  .sub-btn-parent input {
    width: 250px;
  }
  .subscription-container div {
    padding: 3rem 2rem;
  }
  .subscription-container div h3 {
    font-size: 25px;
  }
  #footer-addy {
    width: 120px;
  }
}

@media screen and (max-width: 600px) {
  .link-section {
    padding: 29px 25px;
  }
  .hero-container span {
    top: 28%;
    gap: 10px;
  }
  .hero-container span h2 {
    font-size: 28px;
    line-height: 37.52px;
  }

  .hero-container span h4 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .hero-container span button {
    font-size: 15px;
    padding: 7px;
  }
  .explore-mainContainer h2 {
    font-size: 25px;
    line-height: 25px;
  }
  .explore-mainContainer h4 {
    font-size: 15px;
    line-height: 18px;
  }
  .explore-mainContainer {
    padding: 3rem 25px;
  }
  .discover-container {
    padding: 4rem 25px;
  }
  .explore-image-container span p {
    font-size: 18px;
  }
  .discover-container span button {
    padding: 7px;
  }
  .discover-container span h2 {
    font-size: 20px;
  }
  .designDream-maincontainer {
    padding: 2rem 25px 4rem 25px;
  }
  .designDream-info-parent > h2 {
    font-size: 20px;
  }
  .designDream-info-parent > p {
    font-size: 17px;
  }
  .sharesetup-container {
    padding: 4rem 25px;
  }
  .subscription-container {
    padding: 4rem 25px;
  }
  .sub-btn-parent input {
    width: 200px;
  }
  .subscription-container div {
    padding: 3rem 1rem;
  }
  .sub-btn-parent button {
    padding: 6px;
    font-size: 12px;
    line-height: 10px;
  }
  .footer-container {
    padding: 4rem 25px;
    gap: 20px;
  }
  .footer-container div p {
    font-size: 12px;
  }
}

@media screen and (max-width: 530px) {
  .link-section {
    padding: 29px 18px;
  }
  .hero-container span {
    top: 30%;
    gap: 6px;
  }
  .hero-container span h2 {
    width: 350px;
  }
  .explore-mainContainer {
    padding: 3rem 18px;
  }
  .explore-mainContainer h2 {
    font-size: 18px;
    line-height: 22px;
  }
  .explore-mainContainer h4 {
    font-size: 15px;
    line-height: 17px;
  }
  .explore-image-container span p {
    font-size: 15px;
  }
  .discover-container {
    padding: 4rem 18px;
  }
  .discover-container span {
    flex-direction: column;
  }
  .discover-container span button {
    font-size: 15px;
    padding: 7px;
  }
  .discover-container span h2 {
    font-size: 18px;
  }
  .designDream-maincontainer {
    padding: 2rem 18px 4rem 18px;
  }
  .sharesetup-container {
    padding: 4rem 18px;
  }
  .subscription-container {
    padding: 3rem 10px;
  }
  .subscription-container div h3 {
    font-size: 22px;
  }
  .sub-btn-parent {
    width: 100%;
  }
  .sub-btn-parent input {
    width: 70%;
  }
  .sub-btn-parent button {
    width: 30%;
  }
  .footer-container {
    flex-direction: column;
    padding: 4rem 18px;
    gap: 30px;
  }
}
